<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EverydayIsArt</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="body">
    <header class="header">
        <div class="panel">
            <nav class="nav">
                <a asp-action="Random" asp-route-source="tretyakov">Третьяковская галерея</a>
                <a asp-action="Info">Третьяковская галерея</a>
            </nav>
            <div class="bottom-panel">
                <div class="panel-square-group">
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="panel">
            @RenderBody()
            <div class="bottom-panel">
                <div class="panel-square-group">
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                    <div class="panel-square"></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        EverydayIsArt
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
