<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EverydayIsArt</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="body">
    <header class="header">
        <nav class="nav">
            <a asp-action="GetTretyakov">Третьяковская галерея</a>
            <a asp-action="">В разработке...</a>
        </nav>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer class="footer">
        EverydayIsArt
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
