@use '../../Common/vars.scss';
@use '../../Common/common.scss';

.profile {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100%;
    padding: 20px 30px 30px 30px;

    .profile-group {
        display: flex;
        align-items: center;
        gap: 15px;

        &:hover {
            img {
                opacity: 0.7;
            }

            .logout {
                color: vars.$color-primary;
            }
        }
    }

    .favorites-link {
        @extend .a-base-text;
    }

    img {
        height: 1.5em;
        width: 1.5em;
    }
}