@use '_vars.scss';

@media only screen and (max-width: 980px) {
    #root {
        grid-template-areas: "header" "main";
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .header {
        border: none;
        margin-bottom: 0;
    }

    .main {
        box-sizing: border-box;
        margin: 30px;
    }

    .art {
        max-width: 400px;
    }

    .header-mobile {
        display: flex;
        justify-content: center;

        .button-symbol {
            margin: 0 0 0 10px;
        }
    }
}

@media only screen and (min-width: 980px) {
    #root {
        grid-template-areas: "header main";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
    }
}
