@use '_vars.scss';

@media only screen and (max-width: 980px) {
    #root {
        grid-template-areas: "header" "main";
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }

    .header {
        border: none;
        margin-bottom: 0;
    }

    .main {
        box-sizing: border-box;
        margin: 30px;
    }

    .art {
        max-width: 400px;
    }

    .header-mobile {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 0 30px 0;

        .button-symbol, .change-color-scheme {
            margin: 0 0 0 10px;
            padding: 0;
        }

        .button-symbol {
            font-size: 2em;
        }

        .color-scheme-icon {
            height: 2em;
            width: 2em;
        }

        .change-color-scheme {
            position: static;
        }
    }
}

@media only screen and (min-width: 980px) {
    #root {
        grid-template-areas: "header main";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
    }

    .header-link {
        margin: 0 0 30px 0;
    }

    .change-color-scheme {
        position: absolute;
        right: 20px;
        top: 20px;

        .color-scheme-icon {
            height: 2.5em;
            width: 2.5em;
        }
    }
}
