@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Ysabeau+SC&display=swap');

$light-color-base: #1C251D;
$grey-base: #818181;
$yellow-base: #C59150;
$yellow-dark: #8F6323;

$dark-color-base: #DEDEDE;
$dark-color-background: #1c1c1c;

$base-font: 'Commissioner', sans-serif;
$title-font: 'Ysabeau SC', sans-serif;