@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Ysabeau+SC&display=swap');

$brown-base: #3C3628;
$green-base: #1C251D;
$grey-base: #818181;
$yellow-base: #C59150;
$yellow-dark: #8F6323;

$base-font: 'Commissioner', sans-serif;
$title-font: 'Ysabeau SC', sans-serif;