@use '../Common/vars.scss';
@use '../Common/common.scss';

.aut {
    align-content: center;
    display: grid;
    grid-gap: 25px;
    justify-items: center;
    min-height: 100%;

    .aut-need-another {
        padding-top: 30px;
    }
}

%aut-input-base {
    border: none;
    padding: 0 0 10px 0;
    width: 400px;

    &:focus {
        outline: none;
    }
}

.aut-input-error {
    @extend %aut-input-base;
    border-bottom: 2px solid vars.$color-danger;

    &:hover {
        border-bottom: 2px solid vars.$color-danger;
    }

    &:focus {
        border-bottom: 2px solid vars.$color-danger;
    }
}

.aut-group {
    align-content: center;
    display: grid;
    max-width: 400px;

    .aut-input {
        @extend %aut-input-base;
        border-bottom: 2px solid vars.$color-primary;

        &:hover {
            border-bottom: 2px solid vars.$color-seconday;
        }

        &:focus {
            border-bottom: 2px solid vars.$color-seconday;
            outline: none;
        }
    }

    .aut-group-info {
        color: vars.$color-unimportant;
    }

    .aut-group-info, .aut-error {
        font-size: 0.6em;
        margin: 5px 0 0 0;
    }

    .aut-error {
        color: vars.$color-danger;
    }
}

.aut-summary-error {
    color: vars.$color-danger;
    font-size: 0.8em;
    margin: -15px 0 0 0;
}

.aut-button {
    @extend .button-base-inverse;
    font-size: 0.9em;
}

.aut-need-another {
    align-content: center;
    display: grid;
    font-size: 0.8em;
    grid-gap: 15px;
    justify-items: center;

    .aut-need-another-text {
        color: vars.$color-unimportant;
        margin: 0;
    }

    .aut-another-link {
        @extend .button-base-a;
    }
}