@use '_vars.scss';

body {
    --color: #{vars.$light-color-base};
    --background-color: white;
}

body.dark {
    --color: #{vars.$dark-color-base};
    --background-color: #{vars.$dark-color-background};
}


body, input[type="checkbox"] {
    background-color: var(--background-color);
}

#root, nav a, .header-title:hover .header-title-is, .about-project-name-green, .button-base, .a-base, .button-symbol, .art-get, .terms-source-link {
    color: var(--color);
}
