@use '_vars.scss';
@use '_common.scss';

.profile {
    box-sizing: border-box;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto 1fr;
    min-height: 100%;
    padding: 20px 30px 30px 30px;

    .profile-toolbar {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        margin: 0 0 10px 0;
        gap: 15px;
    }
}