@use '../../Common/vars.scss';
@use '../../Common/common.scss';

.aut-link {
    font-family: vars.$font-title;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: vars.$color-primary;
    }

    &:focus {
        color: vars.$color-seconday;
    }
}