@use './vars.scss';

@media only screen and (max-width: 980px) {
    #root {
        box-sizing: border-box;
        grid-template-areas: "header" "main";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .header-title, .about-title, .art-title {
        font-size: 1.3em;
    }

    .header {
        padding: 30px 30px 0 30px;
    }

    .header {
        border: none;
        margin-bottom: 0;
    }

    .main {
        padding: 0 10px 10px 10px;
    }

    .main, .art-panel, .art {
        max-width: 100%;
    }

    .header-mobile {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 30px 0;

        .button-symbol, .change-color-scheme, .aut-link, .logout {
            margin: 0 0 0 10px;
            padding: 0;
        }

        .button-symbol {
            font-size: 2em;
        }

        .color-scheme-icon {
            height: 2em;
            width: 2em;
        }

        .change-color-scheme {
            position: static;
        }
    }

    .share-art-icon {
        height: 1.4em;
        width: 1.4em;
    }
}

@media only screen and (min-width: 980px) {
    #root {
        grid-template-areas: "header bar" "header main";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 1fr;
    }

    .header {
        padding: 30px 60px 30px 30px;
    }

    .header-title {
        font-size: 2em;
    }

    .main {
        padding: 15px;
    }

    .art {
        max-width: 600px;
        /*        max-width: 100%;*/
    }

    .header-link {
        margin: 0 0 30px 0;
    }

    .about-title {
        font-size: 1.7em;
    }

    .art-title {
        font-size: 1.8em;
    }

    .color-scheme-icon {
        height: 2.5em;
        width: 2.5em;
    }

    .share-art-icon {
        height: 1.8em;
        width: 1.8em;
    }
}