@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Ysabeau+SC&display=swap');

$color-unimportant: #818181;
$color-danger: #dd3131;

$color-primary: #C59150;
$color-seconday: #8F6323;

$color-light-font: #1C251D;
$color-dark-font: #DEDEDE;
$color-dark-background: #1C1C1C;

$font-text: 'Commissioner', sans-serif;
$font-title: 'Ysabeau SC', sans-serif;