@*@{
    ViewData["Title"] = "Index";
}*@

<div class="posts">
    <div class="post">
        <h2 class="post-title">Заголовок поста</h2>
        <p class="post-text">Содержание поста</p>
        <p class="post-source">
            <a href="">Ссылка на источник</a>
        </p>
    </div>
</div>
