@model PostViewModel

<div class="posts">
    <div class="post">
        <h2 class="post-title">@Model.Title</h2>
        <p class="post-text">@Model.Text</p>
        <p class="post-source">
            <p class="post-description">@Model.Description</p>
        </p>
    </div>
</div>