@import "_var.scss";

* {
    border: 1px solid grey;
}

html {
    font-size: 100%;
    font-family: $base-font;
}

.body {
    display: grid;
    grid-template-areas: "header main" "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    grid-gap: $base-offset;
    margin: 0;
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: $base-offset;

    a {
        margin: 0 0 $small-offset 0;
        text-transform: uppercase;
        font-family: $title-font;
        text-decoration: none;
        font-size: 1.1em;
    }

    a:last-child {
        margin: 0;
    }
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: $base-offset;
    font-family: $title-font;
    font-size: 1.2em;
}

.posts {
    display: grid;
    min-height: 100%;
    align-content: center;
    justify-content: center;

    .post {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin: $base-offset;
        padding: $base-offset;
        height: min-content;

        h2, p {
            margin: 0 0 $small-offset 0;
        }

        *:last-child {
            margin: 0;
        }
    }

    .post-title {
        font-family: $title-font;
    }

    .post-source {
        font-style: italic;
    }
}